.container {
  width: 100px;
  height: 150px;
  background-color: #fff;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
}

.imag {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  background-color: #fff;
}

.titleName {
  color: black;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
}

.online {
  color: green;
}

.ofline {
  color: red;
}
